<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-error *ngIf="error" [mensajeError]="mensajeError"></app-error>

<div *ngIf="!error && !loading" class="gnome-detail-custom">
  <h1> {{ gnome.name }} <small> ({{ gnome.age }} Años)</small></h1>
  <hr>
  <div class="row gnome-detail-row-custom">
    <div class="col-md-6">
      <img [src]="gnome.thumbnail" class="img-fluid" [alt]="">
      <br><br>
      <a [routerLink]="['/home']" class="btn btn-outline-primary btn-block btn-return-custom">Regresar</a>
    </div>
    <div class="col-md-6">
      <h3>Información</h3>
     
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Color de pelo:</strong> {{ gnome.hair_color }}
            <span class="hair_color" [ngStyle]="{'background-color': gnome.hair_color}"></span>
          </li>
          <li class="list-group-item"><strong>Edad:</strong> {{ gnome.age }}</li>
          <li class="list-group-item"><strong>Altura:</strong> {{ gnome.height | number:'1.0-0' }}</li>
          <li class="list-group-item"><strong>Amigos:</strong><br>
            <span *ngFor="let friend of gnome.friends"  class="badge badge-custom badge-pill badge-primary">{{ friend }}</span>
          </li>
          <li class="list-group-item"><strong>Professiones:</strong><br>
            <span *ngFor="let profession of gnome.professions"  class="badge badge-custom badge-pill badge-success">{{ profession }}</span>
          </li>
        </ul>
      <div>
        <img src="" class="img-fluid-custom">
      </div>
    </div>
  </div>
</div>

