.img-fluid-custom{
    max-width: 150px;
}

.gnome-detail-custom{
    max-width: 638px;
    margin: 3rem auto !important;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.gnome-detail-row-custom{
    padding-bottom: 15px;
}

.hair_color{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 15px;
    margin-bottom: -2px;
}