<div class="card-columns cards-custom">

  <div class="card animated fadeIn slow card-custom" *ngFor="let item of items" (click)="ShowGnome(item)">

    <img  *ngIf="item.thumbnail"  class="card-img-top pruebasimg" [src]="item.thumbnail" [alt]="item.name">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">Friends:<br>
          <span *ngFor="let friend of item.friends"  class="badge badge-pill badge-primary">{{ friend }}</span>
      </p>
    </div>
  </div>
</div>