.icon-custom {
    background-image: url("./../../../../assets/img/gnome.png");
    background-repeat: no-repeat;
    background-size: 129%;
    width: 50px;
    height: 25px;
    border-radius: 26px;
    background-color: white;
    background-position: -6px -20px;
    margin-right: 8px;
}