<div class="row row-filter-custum">
  <div class="col col-custom-filter">
    <span>
      <button id="hairColor" type="button" class="btn btn-secondary dropdown-toggle button-filter-custom" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{textHairColors}} <span *ngIf="ShowColor" class="hair_colorin" [ngStyle]="{'background-color': colorin}"></span>
      </button>
      <div class="dropdown-menu menu-custom" aria-labelledby="hairColor">
        <a class="dropdown-item" (click)="filterColor('')">
          -- Sin filtro --
        </a>
        <a class="dropdown-item" *ngFor="let color of hairColors" (click)="filterColor(color)">
          {{color}} <span class="hair_color" [ngStyle]="{'background-color': color}"></span>
        </a>
      </div>
    </span>

    <span>
      <button id="hairColor" type="button" class="btn btn-secondary dropdown-toggle button-filter-custom" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{textProfessions}}
      </button>
      <div class="dropdown-menu menu-custom" aria-labelledby="hairColor">
        <a class="dropdown-item" *ngFor="let prof of professions" (click)="filterProfessions(prof)">
          {{prof}}
        </a>
      </div>
    </span>

  </div>
</div>